{% extends "admin" %}


{% block content %}
<a href="/edit/draft/{{authorId}}/new"/>Create New Draft</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Draft Id [Edit]</th>
            <th>Draft Title [View]</th>
            <th>Publish</th>
        </tr>
    </thead>
    <tbody>
        {% for key in draftKeys %}
        <tr>
            <th scope="row"><a href="/edit/draft/{{authorId}}/{{key}}"/>{{key}}</a></th>
            <th scope="row"><a href="/{{drafts.get(key)}}"/>{{drafts.get(key)}}</a></th>
            <th scope="row"><a href="/edit/publish/{{authorId}}/{{key}}"/>Publish</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Post Id [Edit]</th>
            <th>Post Title [View]</th>
        </tr>
    </thead>
    <tbody>
        {% for key in postKeys %}
        <tr>
            <th scope="row"><a href="/edit/post/{{authorId}}/{{key}}"/>{{key}}</a></th>
            <th scope="row"><a href="/{{posts.get(key)}}"/>{{posts.get(key)}}</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}