{% extends "admin" %}

{% block cssContent %}
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
      <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.0/summernote.min.css" rel="stylesheet">
{% endblock %}
{% block scriptContent %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>	
{% endblock %}
    
{% block content %}
    <form method="post" action="/edit/{{post.status}}">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="id" type="hidden" value="{{post.id}}"/>
    <input name="authorId" type="hidden" value="{{post.authorId}}"/>
    <input name="authorName" type="hidden" value="{{post.authorName}}"/>
    <input name="status" type="hidden" value="{{post.status}}"/>
    <input name="postDate" type="hidden" value="{{post.postDate}}"/>
    <input name="title" type="text" class="form-control" id="title" value="{{post.title}}">
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input name="tags" type="text" class="form-control" id="tags" value="{{post.tags}}">
  </div>
  <div class="form-group">
    <label for="url">Url</label>
    <input name="url" type="text" class="form-control" id="url" value="{{post.url}}">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input name="image" type="text" class="form-control" id="image" value="{{post.image}}">
  </div>
  <div class="form-group">
    <label for="initialParas">Initial Paragraphs</label>
    <textarea name="initialParas" id="initialParas" class="summernote" ></textarea>
  </div>
  <div class="form-group">
    <label for="remainingParas">Remaining Full Paragraphs</label>
    <textarea name="remainingParas" id="remainingParas" class="summernote" ></textarea>
  </div>
  <div class="form-group">
    <label for="cssContent">cssContent</label>
    <textarea name="cssContent" class="form-control" rows="5" value="{{post.cssContent}}"></textarea>
  </div>
  <div class="form-group">
    <label for="scriptContent">scriptContent</label>
    <textarea name="scriptContent" class="form-control" rows="5" value="{{post.scriptContent}}"></textarea>
  </div>
  <div class="form-group">
    <label for="closeToBody">closeToBody</label>
    <textarea name="closeToBody" class="form-control" rows="5" value="{{post.closeToBody}}"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}

{% block closeToBody %}
  	<script>
		requirejs.config({
		  //To get timely, correct error triggers in IE, force a define/shim exports
			//enforceDefine: true,		  
			config: {
				'moment': {
					noGlobal: true
				}
			},
		  paths: {
		    jquery: [
				'//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min',
				'/static/lib/jquery-1.11.3.min' 
		    ],
			moment: [
				'//cdn.jsdelivr.net/momentjs/2.10.6/moment.min',
		      	'/static/lib/moment.min' 
		    ],
			momenttimezone: [
				'//cdn.jsdelivr.net/momentjs.timezone/0.4.1/moment-timezone-with-data.min',			                 
				'/static/lib/moment-timezone-with-data.min' 
		    ],
		    bootstrap: [
				'//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min',
				'/static/bs/js/bootstrap.min' 
		    ],
		    fuelux: [
				'//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min',
				'/static/fuel/3.13.0/js/bootstrap.min' 
		    ],
		    summernote: [
		      '//cdnjs.cloudflare.com/ajax/libs/summernote/0.7.0/summernote.min'
		    ]
		  },
		  shim: {
			bootstrap: { deps: ['jquery'] },
            fuelux: { deps : ['bootstrap'] },
			summernote:['jquery','bootstrap','fuelux','moment','momenttimezone']
		  }
		});
        
        requirejs(['jquery', 'bootstrap', 'fuelux', 'moment', 'momenttimezone', 'summernote'], 
			function($, bootstrap, fuelux, moment, timezone, summernote) {				
			$( document ).ready(function() {  
                $('.summernote').summernote({height: 100});
                var initialParas = document.createElement("div");
                initialParas.innerHTML = '{% autoescape false %}{{ post.initialParas }}{% endautoescape %}';
                $('#initialParas').summernote('insertNode', initialParas);
                var remainingParas = document.createElement("div");
                remainingParas.innerHTML = '{% autoescape false %}{{ post.remainingParas }}{% endautoescape %}';
                $('#remainingParas').summernote('insertNode', remainingParas);
		  });
		});
	</script>

{% endblock %}