{% extends "base" %}

{% block title %}
	{{title}}
{% endblock %}

{% block cssContent %}
      {{cssContent}}
{% endblock %}

{% block scriptContent %}
	{{scriptContent}}
{% endblock %}
    
{% block content %}
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <h2 class="page-header">
            NRI Dream.
            <br>
            <small>Pursue your beautiful dream, it's worth every minute.</small>
        </h2>        
        {% for post in posts %}
        <!-- First Blog Post -->
        <h3>
            <a href="/{{post.url}}">{{post.title}}</a>
        </h3>
        <p class="lead">
            by <a href="/">{{post.authorId}}</a>
        </p>
        <!--
        <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
        -->
        <hr>
        <img class="img-responsive" src="{{post.image}}" alt="">
        <hr>
        {{post.initialParas}}
        <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
        {% endfor %}
        
        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <div class="well">
            <div class="row">
                <span class='st_whatsapp_large' displayText='WhatsApp'></span>
                <span class='st_email_large' displayText='Email'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_plusone_large' displayText='Google +1'></span>
                <span class='st_fbrec_large' displayText='Facebook Recommend'></span>
            </div>
        </div>
        <div class="well">
            <h4>Categories</h4>
            <div class="row">
                <ul class="list-unstyled">
                    {% for tag in tags %}
                    <li><a href="/tag/{{tag}}">{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- Side Widget Well
        <div class="well">
            <h4>Read this first</h4>
            <p><a href="#">Newer &rarr;</a></p>
        </div>
            -->
    </div>

</div>
<!-- /.row -->

<hr>
{% endblock %}

{% block closeToBody %}
  	{{closeToBody}}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "b6ecceb9-f9dd-4ad4-a69c-607d49499ac3", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}