

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis {
  fill: steelblue;
}
.axis text {
  font: 10px sans-serif;
}
.resize path {
  fill: steelblue;
  fill-opacity: .8;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}